{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}
    <h1>Welcome to my website!</h1>
    <p>This is the homepage</p>
    <div style="display: flex; margin: 0 auto; width: 50%">
        <form method="post" id="dynamicForm">
            <div style="display: flex; flex-direction: column; margin: 0 auto;">
                <label for="input1">Input1</label>
                <div id="inputs">
                    <input type="text" id="input1"/>
                </div>
                <div style="padding-top:25px">
                    <button id="addInput" class="btn btn-primary">Add input</button>
                    <button type="submit" class="btn btn-success">Send</button>
                </div>
            </div>

        </form>
    </div>


{% endblock %}